<div>
    <small>
        {% if board.projectIteration %}
            {% if board.projectIteration.project.account %}
                <a href="{{ path('account_show', { 'id': board.projectIteration.project.account.id }) }}">{{ board.projectIteration.project.account|capitalize }}</a>
                <i class="fa fa-angle-right"></i>
            {% endif %}
            <a href="{{ path('project_iteration_show', { 'id': board.projectIteration.id }) }}">{{ board.projectIteration|capitalize }}</a>
        {% endif %}
    </small>
</div>